@model IEnumerable<BankTransactions_CRUD_.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Passbook</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IFSCCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-primary">+ New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeneficiaryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IFSCCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.TransactionId">
                        <div class="btn-group " role="group">
                            <a asp-action="AddOrEdit" class="btn btn-warning" asp-route-id="@item.TransactionId">Edit</a> |
                            <a asp-action="Details" class="btn btn-info" asp-route-id="@item.TransactionId">Details</a> |
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record?')" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
